/* PAGE */
* {
  overflow: hidden;
  transition: all 400ms;
}

html,
body {
  overflow-y: auto !important;
}

body {
  margin: 0;
  width: 100%;

  background-color: black;

  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* GENERAL */
a,
p,
h1 {
  margin: 0;
  color: white;
  text-align: center;
  text-decoration: none;
}

h1 {
  font-size: min(10vw, 10vh, 80px);
}

p {
  font-size: min(5vw, 5vh, 30px);
}

/* MAIN */
main {
  position: fixed;
  top: 0;
  height: 100dvh;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.site-box {
  position: relative;
  padding: 10vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  text-align: center;
}

.site-box * {
  flex-shrink: 0;
}

.bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  opacity: 0.2;
  z-index: -1;
}

.logo {
  width: min(40vw, 40vh, 300px);
  margin: max(-10vw, -10vh, -75px);
}

.arrow {
  width: min(20vw, 20vh, 100px);
  border-radius: 50%;
}

.site-box:hover {
  opacity: 1;
}

.site-box:hover .bg {
  transform: scale(1.1);
  opacity: 0.3;
}

.site-box:hover .arrow {
  transform: scale(1.1) rotate(-30deg);
  background-color: black;
}

#first {
  border: 10px solid black;
  border-right: 5px solid black;
}

#first .bg {
  background-image: url("/assets/solar.jpg");
}

#second {
  border: 10px solid black;
  border-left: 5px solid black;
}

#second .bg {
  background-image: url("/assets/fassaden.jpg");
}

/* FOOTER */
footer {
  position: sticky;
  top: 100dvh;
  margin-top: 100dvh;
  width: calc(100vw - 20px);
  padding: 10px;
  background-color: black;
  display: flex;
  justify-content: center;
}

footer a {
  color: #f3da01;
}

footer,
footer * {
  font-size: min(4vw, 20px);
}

/* PROTRAIT MODE (PHONES) */
@media all and (orientation: portrait) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .site-box {
    padding: 5px;
  }

  #first {
    border: 10px solid black;
    border-bottom: 5px solid black;
  }

  #second {
    border: 10px solid black;
    border-top: 5px solid black;
  }
}
